.square{
    margin-top: -40px;
    border:1px solid red;
    
}

.name {
    box-sizing: border-box;
    background-color: #4aaaa5;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 80px;
    margin-left: 40px;
    padding-bottom: 30px;
    width: 30%;
    height: 120px;
    float: left;
}
h1{
    margin-top: 10px;
    margin-left: 20px;
}
.row {
    box-sizing: border-box;
    margin-top: 80px;
    margin-left: -120px;
    float: right;
    position: relative;
    font-family: 'Times New Roman', Times, serif

}
.row.Contact {
    background-color: white;
    color: gray;
    margin-top: 40px;
    margin-left:-210px;
    float: left;
    text-align: center;
    
}
.row.Portfolio {

    background-color: white;
    color: gray;
    margin-top: 40px;
    margin-left: -320px;
    float: left;
    text-align: center;
    border-right: 1px solid gray;   
}
.row.about {
    background-color: white;
    color: gray;
    margin-top: 40px;
    margin-left: -420px;
    width: 10%;
    height: 10px;
    float: left;
    text-align: center;
    border-right: 1px solid gray; 
       
}


.main {
    box-sizing: border-box;
    background-color: #ffffff;
    color: gray;
    margin-left: 100px;
    margin-top: 140px;
    margin-right: 40px;
    padding: 25px;
    height: 400px;
    width: 80%;
    text-align: left;
    position: absolute;
 
}
.cf {
   display: block;
    clear: both;
    overflow: auto;   
}
.columne {
    margin-left: 120;
    box-sizing: border-box;
    text-align: center;
    height: auto;
    width: 100%;
    display:block;
}

.columne.myPicture{
    margin-left: -460px;
    margin-top: 20px;
    position: relative;
}

.columne.Bio {
    margin-top: -180px;
    display: inline-block;
    width : 760px;
    padding-top: 0px;
    margin-left: 200px;
    position: relative;
    text-align: left;
     
}

.me {
    margin-left: 0px;
    box-sizing: border-box;
    background-color: white;
    color:green;
    text-align: left;
    height: 40px;
    line-height: 40px;
    border-bottom: 2px solid gray;
    border-spacing: 0px;
    border-bottom-color: gray;
    position: relative;

}

.seperator {
    box-sizing: border-box;
    background-color: green; 
    margin-top: 800px;
    width: 100%;
    height: 10px;
    position: absolute;
}

.footer {

    box-sizing: border-box;
    background-color:#666666;
    margin-top: 810px;
    padding-top: 30px;
    display: block;
    clear: both;
    width: 100%;
    text-align: center;
    font-size: 10px;
    position: absolute;

}
