.square{
    margin-top: -40px;
}

.name {
    box-sizing: border-box;
    background-color: #4aaaa5;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 80px;
    margin-left: 40px;
    padding-bottom: 30px;
    width: 30%;
    height: 120px;
    float: left;
}
h1{
    margin-top: 10px;
    margin-left: 20px;
}
h2 {
    margin-left: 20%;
}
.row {
    box-sizing: border-box;
    margin-top: 80px;
    margin-left: -120px;
    float: right;
    position: relative;
    font-family: 'Times New Roman', Times, serif

}
.row.Contact {
    background-color: white;
    color: gray;
    margin-top: 40px;
    margin-left:-210px;
    float: left;
    text-align: center;
    
}
.row.Portfolio {

    background-color: white;
    color: gray;
    margin-top: 40px;
    margin-left: -320px;
    float: left;
    text-align: center;
    border-right: 1px solid gray;   
}
.row.about {
    background-color: white;
    color: gray;
    margin-top: 40px;
    margin-left: -420px;
    width: 10%;
    height: 10px;
    float: left;
    text-align: center;
    border-right: 1px solid gray; 
       
}

.column {
    box-sizing: border-box;
    background-color: lightgray;
    margin-top: 220px;
    padding: 0px;
    height: 600px;
    width: 90%;
    margin-left: -438px;
    position: fixed;
    text-align: center;
    display: inline-block;
}
.cf {
    clear: both;
    overflow: auto;
}

.alternative-medicine {
    position: relative;
    margin-top:20px;
    margin-left: 20px;
    float: left;
    width: 30%;
    overflow: auto;

}

.bamazon {

    float: middle;
    width:30%;
    margin-top:20px;
    margin-left:0px;
    position: relative;
    overflow: auto;

}

.Clicky{

    
    margin-top: -360px;
    margin-left: 20px;
    float: left;
    width: 30%;
    position: relative;
    overflow: auto;

}

.liriBot{

    margin-top: 20px;
    margin-left: 20px;
    float: right;
    width: 30%;
    position: relative;
    overflow: auto;

}


.crystal-collector{

    float: middle;
    width:auto;
    height: auto;
    margin-top:-360px;
    margin-left: 20px;
    position: relative;
   
    overflow: auto;
}

.scheduler {
    margin-top:-360px;
    margin-left: 20px;
    float: right;
    width: 30%;
    position: relative;
    overflow: auto;
}

 .alabel {

    box-sizing: border-box;
    background-color: #4aaaa5;
    color: white;
    margin-top: -60px;
    margin-left: 80px;
    padding-top: 10px;
    padding-bottom: 0px;
    width: 58%;
    height: 40px;
    float: left;
    position: absolute;
    z-index: 4;
   
} 

.blabel {
    box-sizing: border-box;
    background-color: #4aaaa5;
    color: white;
    margin-top: -60px;
    margin-left: 79px;
    padding-top: 10px;
    padding-bottom: 0px;
    width: 58%;
    height: 40px;
    float: left;
    position: absolute;
    z-index: 4;

}
.llabel {
    box-sizing: border-box;
    background-color: #4aaaa5;
    color: white;
    margin-top: -60px;
    margin-left: 80px;
    padding-top: 10px;
    padding-bottom: 0px;
    width: 58%;
    height: 40px;
    float: left;
    position: absolute;
    z-index: 4;

} 
.clabel {
    box-sizing: border-box;
    background-color: #4aaaa5;
    color: white;
    margin-top: -60px;
    margin-left: 80px;
    padding-top: 10px;
    padding-bottom: 0px;
    width: 58%;
    height: 40px;
    float: left;
    position: absolute;
    z-index: 4;

}

.cclabel {
    box-sizing: border-box;
    background-color: #4aaaa5;
    color: white;
    margin-top: -60px;
    margin-left: 32px;
    padding-top: 10px;
    padding-bottom: 0px;
    width: 100%;
    height: 40px;
    float: left;
    position: absolute;
    z-index: 4;

}

.slabel {
    box-sizing: border-box;
    background-color: #4aaaa5;
    color: white;
    margin-top: -60px;
    margin-left: 80px;
    padding-top: 10px;
    padding-bottom: 0px;
    width: 58%;
    height: 40px;
    float: left;
    position: absolute;
    z-index: 4;

} 

.seperator {
    box-sizing: border-box;
    background-color: green; 
    margin-top: 800px;
    width: 100%;
    height: 10px;
    position: absolute;

}

.footer {

    box-sizing: border-box;
    background-color:#666666;
    margin-top: 810px;
    padding-top: 30px;
    display: block;
    clear: both;
    width: 100%;
    text-align: center;
    font-size: 10px;
    position: absolute;

}
