
* {
    font-family: Arial, Helvetica, sans-serif;

}
.name {
    box-sizing: border-box;
    background-color: #4aaaa5;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 30px;
    margin-left: 120px;
    padding-bottom: 5px;
    width: 30%;
    height: 60px;
    float: left;

}
.cf {
   display: block;
    clear: both;
    overflow: auto;
    
}

.row {
    box-sizing: border-box;
    position: relative;
    font-family: 'Times New Roman', Times, serif

}

.about {
    background-color: white;
    color: gray;
    margin-top: 40px;
    width: 10%;
    height: 10px;
    float: right;
    text-align: center;
    border-right: 1px solid gray;
    
    
}

.info {
    background-color: white;
    color: gray;
    margin-top: 20px;
    width: 100%;
    height: 10px;
    float: left;
    text-align: left;

}
.second {
    background-color: white;
    color: gray;
    margin-top: 50px;
    width: 100%;
    height: 10px;
    float: left;
    text-align: left;
}

.third {
    background-color: white;
    color: gray;
    margin-top: 50px;
    width: 100%;
    height: 10px;
    float: left;
    text-align: left;
}

.full {
    box-sizing: border-box;
    border: 2px solid gray;
    background-color: white;
    margin-top: 40px;
    margin-right: 40px;
    height: 30px;
    width: 80%;
    position: absolute;
    display: block;
}
.clearfix {
    clear: both;
    overflow: auto;
    
}
.email {
    box-sizing: border-box;
    border: 2px solid gray;
    background-color: white;
    margin-top: 100px;
    margin-right: 40px;
    height: 30px;
    width: 80%;
    position: absolute;
    display: block;

}

.message {

    box-sizing: border-box;
    border: 2px solid gray;
    background-color: white;
    margin-top: 160px;
    margin-right: 40px;
    height: 120px;
    width: 80%;
    position: absolute;
    display: block;


}

.Portfolio {

    background-color: white;
    color: gray;
    margin-top: 40px;
    width: 10%;
    height: 10px;
    float: right;
    text-align: center;
    border-right: 1px solid gray;
    

}

.Contact {

    background-color: white;
    color: gray;
    margin-top: 40px;
    margin-right: 30px;
    width: 10%;
    height: 10px;
    float: right;
    text-align: center;
}
.container {
    box-sizing: border-box;
    background-color: lightgray;
    margin: 0px;
    padding: 0px;
    height: 500px;
    width: 100%;
    position: absolute;

}
.main {
    box-sizing: border-box;
    background-color: #ffffff;
    color: gray;
    margin-left: 120px;
    margin-top: 20px;
    margin-right: 40px;
    padding: 25px;
    height: 400px;
    width: 100%;
    text-align: left;
    position: absolute;
 
}

.columne {
    margin-left: 120;
    box-sizing: border-box;
    text-align: center;
    height: auto;
    width: 100%;
    display:block;


}

.box {
    box-sizing: border-box;
    background-color: #ffffff;
    color: gray;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 20px;
    margin-right: 40px;
    padding: 25px;
    height: 450px;
    width: 80%;
    text-align: left;
    position: absolute;

}
.cf {
   display: block;
    clear: both;
    overflow: auto;
  
}

.me {
    margin-left: 0px;
    box-sizing: border-box;
    background-color: white;
    color:green;
    text-align: left;
    height: 40px;
    line-height: 40px;
    border-bottom: 2px solid gray;
    border-spacing: 0px;
    border-bottom-color: gray;
    position: relative;


}

.contactbox {

    padding: 0%;
    margin: 0px;
    box-sizing: border-box;
    background-color: white;
    color:green;
    height: 40px;
    width: 88%;
    line-height: 40px;
    border-bottom: 2px solid gray;
    border-spacing: 0px;
    border-bottom-color: gray;
    position: relative;

}

.fortfolio {

    box-sizing: border-box;
    background-color: white;
    color:green;
    height: 60px;
    width: 88%;
    border-bottom: 2px solid gray;
    border-spacing: 0px;
    border-bottom-color: gray;
    position: relative;
    float: left;
}

.myPicture {
    margin-left: -210px;
    padding-top: 20px;
    position: relative;
    float: left;
    display: auto;

}

.Bio {
    display: block;
    padding-top: 0px;
    width: 400px;
    margin-left: 180px;
    position: absolute;
    text-align: left;
    
  
}

.seperator {
    box-sizing: border-box;
    background-color: green; 
    margin-top: 500px;
    width: 100%;
    height: 10px;
    position: absolute;


}

.footer {

    box-sizing: border-box;
    background-color:#666666;
    margin-top: 510px;
    padding-top: 30px;
    display: block;
    clear: both;
    width: 100%;
    text-align: center;
    font-size: 10px;
    position: absolute;

}

#submit {
    box-sizing: border-box;
    background-color: green;
    color: white;
    margin-top: 160px;
    margin-left: 0px;
    position: relative;

}

.column {

    box-sizing: border-box;
    text-align: center;
    height: auto;
    width: 100%;
    display: inline-block;

}
.cf {
    clear: both;
    overflow: auto;
}

.giraffe {

    margin-top:40px;
    float: left;
    width: 25%;
    position: relative;
    display:block;
}

.dogy {

    float: middle;
    width:25%;
    margin-top:40px;
    margin-left: 250px;
    position: relative;
    display:block;
}

.horse{

    padding-top: 10px;
    float: left;
    margin-top: 20px;
    width: 25%;
    position: block;

}

.nature{

    padding-top: 10px;
    float: middle;
    width:25%;
    margin-top:20px;
    margin-left: 250px;
    position: relative;
    display:block;
}

.sunset {
    padding-top: 10px;
    float: left;
    margin-top: 20px;
    width: 25%;
    position: block;
}

.glabel {
    box-sizing: border-box;
    background-color: #4aaaa5;
    color: white;
    margin-top: -60px;
    margin-left: 30px;
    padding-top: 10px;
    padding-bottom: 0px;
    width: 80%;
    height: 40px;
    float: left;
    position: relative;
    z-index: 4;
}

.dlabel {
    box-sizing: border-box;
    background-color: #4aaaa5;
    color: white;
    margin-top: -60px;
    margin-left: 40px;
    padding-top: 10px;
    padding-bottom: 0px;
    width: 80%;
    height: 40px;
    float: left;
    position: relative;
    z-index: 4;

}
.hlabel {
    box-sizing: border-box;
    background-color: #4aaaa5;
    color: white;
    margin-top: -60px;
    margin-left: 30px;
    padding-top: 10px;
    padding-bottom: 0px;
    width: 80%;
    height: 40px;
    float: left;
    position: relative;
    z-index: 4;

}

.nlabel {
    box-sizing: border-box;
    background-color: #4aaaa5;
    color: white;
    margin-top: -60px;
    margin-left: 40px;
    padding-top: 10px;
    padding-bottom: 0px;
    width: 80%;
    height: 40px;
    float: left;
    position: relative;
    z-index: 4;

}

.slabel {
    box-sizing: border-box;
    background-color: #4aaaa5;
    color: white;
    margin-top: -60px;
    margin-left: 30px;
    padding-top: 10px;
    padding-bottom: 0px;
    width: 80%;
    height: 40px;
    float: left;
    position: relative;
    z-index: 4;

}